<div class="has-text-centered">
  <h1 class="title is-1">
    <%- config.title %>
  </h1>
  <h3 class="subtitle is-3">
    <a href="<%- theme.github_url %>">@<%- theme.github_user %></a>
  </h3>
  <p class="is-4">
    <%- config.subtitle %>
  </p>

  <hr>
  <%- page.content %>
</div>
